<form action="/artists" method="POST">
  <div>
    <label for="artist_name">Artist Name</label>
    <input type="text" id="artist_name" name="artist[name]">
  </div>
  <div>
    <label for="artist_genre">Genre</label>
    <input type="text" id="artist_genre" name="artist[genre]">
  </div>
  <div>
    <label for="artist_latest_song">Latest Song</label>
    <input type="text" id="artist_latest_song" name="artist[latest_song]">
  </div>
  <input type="submit" value="Create artist">
</form>
